<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="core/tests/bootstrap.php"
         colors="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutChangesToGlobalState="true"
         checkForUnintentionallyCoveredCode="false"
         printerClass="\Drupal\Tests\Listeners\HtmlOutputPrinter"
         verbose="true">
    <php>
        <!-- Set error reporting to E_ALL. -->
        <ini name="error_reporting" value="32767"/>
        <env name="SIMPLETEST_BASE_URL" value="https://localhost"/>
        <env name="SIMPLETEST_DB" value="mysql://drupal:drupal@drupal-8-db/drupal"/>
    </php>
    <testsuites>
        <testsuite name="Yoti tests">
            <directory>./modules/yoti</directory>
        </testsuite>
    </testsuites>
</phpunit>
