{#
/**
 * @file
 * Yoti Button.
 *
 * Available variables:
 * - button_id: Yoti Button ID
 * - scenario_id: Yoti Scenario ID
 * - button_text: Button Text
 * - is_linked: Flag for linked accounts
 */
#}
<div class="yoti-connect">
{% if is_linked %}
    <strong>Yoti</strong> Linked
{% else %}
    <div id="{{button_id}}"></div>
    <script>
    var yotiConfig = yotiConfig || { elements: [] };
    yotiConfig.elements.push({
        "domId": "{{button_id}}",
        "scenarioId": "{{scenario_id}}",
        "button": {
            "label": "{{button_text}}"
        }
    });
    </script>
{% endif %}
</div>